body {
    padding: 25px 15%;
}

button {
    width: 300px;
    height: 80px;
    margin-bottom: 15px;
}

img {
    /* visibility: hidden; */
    filter: blur(40px);
    transition: filter 1s, max-height 1s;
    display: block;
    margin: 0 auto;
    aspect-ratio: initial;
    max-width: 99%;
    max-height: 99%;
}

@media screen and (max-width: 600px) {
    button {
        width: 50%;
    }
}